body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  margin:0;
  box-sizing: border-box;
}

@media(max-width:1000px){
html{
  font-size: 80%;
}
}
@media(max-width:790px){
html{
  font-size:60%;
}
}
@media(max-width:583px){
html{
  font-size:50%;
}
}
@media(max-width:439px){
html{
  font-size:36%;
}
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
