.teal{
    display: flex;
    position: fixed;
    z-index: 2000;
    width: 100vw;
    background-color: teal;
    justify-content: center;
    color: white;
    padding-top:1rem;
    font-size: .7rem;
    padding-bottom:1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}